{% extends "base.html" %} {% block content %}
    <h1>Stored Data</h1>
    <ul>
        {% for item in data %}
            <li>
                {{ item.title }}
                <button onclick="deleteItem({{ item.id}})">Delete</button>
            </li>
        {% endfor %}
    </ul>

    <script>
        function deleteItem(itemId) {
            if (confirm("Are you sure you want to delete this item?")) {
                fetch(`/delete/${itemId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert('Failed to delete item');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Failed to delete item');
                });
            }
        }
    </script>
{% endblock %}
